<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h2 id="clock">00:00:00</h2>
        <h1>채팅하셈ㅋ</h1>
        <div id="weather-container">
            <div id="weather">
                <span></span><br>
                <span></span>
            </div>
            <div id="temperature">
                <span></span><br>
                <span></span>
            </div>
        </div>
    </header>
    <main>
        <div id="welcome">
            <form class="room_form">
                <input id="room_name" placeholder="방 제목 ㄱㄱ" , required, type="text">
                <button>방 만들기ㄱㄱ</button>
                <h4>열린 방:</h4>
            </form>
        </div>
        <div id="inRoom">
            <h3></h3>
            <form class="nickname">
                <input id="nickname" placeholder="닉넴 ㄱㄱ" , required, type="text">
                <button>저장 ㄱㄱ</button>
            </form>
            <div class="conversation-container">
                <ul id="messageContainer"></ul>
            </div>
                <form class="msg">
                    <input id="message" placeholder="message" , required, type="text">
                    <button>보내기ㄱㄱ</button>
                </form>
            
        </div>
    </main>
    <script src="/public/js/app.js"></script>
    <script src="/public/js/clock.js"></script>
    <script src="/public/js/weather.js"></script>
</body>

</html>
